@model MuseLab7.Models.ViewModels.DetailsCollab

@{
    ViewBag.Title = "Details";
}
<a href="/collab/list">Go back to Collabs</a>
<br />
<a href="/collab/Edit/@Model.SelectedCollab.CollabID">Update</a>
<br />
<a style="color:#ab2020;" href="/Collab/DeleteConfirm/@Model.SelectedCollab.CollabID">Delete</a>

<h2>@Model.SelectedCollab.CollabTitle</h2>
<p>CoCreater: @Model.SelectedCollab.CoCreatorName</p>
<p>Description: @Model.SelectedCollab.CollabDescription</p>
<p>Parent Idea: <a href="/Idea/Details/@Model.SelectedCollab.IdeaID">@Model.SelectedCollab.IdeaTitle</a></p>





