@model IEnumerable<MuseLab7.Models.CollabDto>
@{
    ViewBag.Title = "List";
}

<h2>All Collabs</h2>
<a href="/Collab/New">New Collab</a>
<div class="flexContainer">
    @foreach (var collab in Model)
    {
    <div class="listItem">
        <h2><a href="/Collab/Details/@collab.CollabID">@collab.CollabTitle</a></h2>
        <p>CoCreater: @collab.CoCreatorName</p>
    </div>        
    }

</div>