@model IEnumerable<MuseLab7.Models.CollabDto>
@{
    ViewBag.Title = "List";
}

<h2>All Collabs</h2>
<a href="/Collab/New">New Collab</a>
@foreach (var collab in Model)
{
    <h2><a href="/Collab/Details/@collab.CollabID">@collab.CollabTitle</a></h2>
    <div>CoCreater: @collab.CoCreatorName</div>
    <div>Description: @collab.CollabDescription</div>
    <div>Parent Idea: @collab.IdeaTitle</div>
}

