@model MuseLab7.Models.ViewModels.DetailsCreator

@{
    ViewBag.Title = "Details";
}
<a href="/creator/list">Go back to Creators</a>
<br />
<a href="/creator/Edit/@Model.SelectedCreator.CreatorID">Update</a>
<br />
<a style="color:#ab2020;" href="/Creator/DeleteConfirm/@Model.SelectedCreator.CreatorID">Delete</a>
<h1 class="centerItem">Creator</h1>

<div class="flexContainer">

    <div class="listItem">
     
        <h3>@Model.SelectedCreator.CreatorName</h3>
        <div>@Model.SelectedCreator.CreatorBio</div>
    </div>


    <div class="listItem">
        <h3>@(Model.SelectedCreator.CreatorName)'s Ideas</h3>
        @foreach (var idea in Model.RelatedIdeas)
        {
            <p>
                <a href="/Idea/Details/@idea.IdeaID">@idea.IdeaTitle</a>
            </p>

        }
    </div>
</div>

