@model IEnumerable<MuseLab7.Models.CreatorDto>
@{
    ViewBag.Title = "List";
}

<h2>Creators</h2>
<a href="/Creator/New">New Creator</a>

@foreach (var creator in Model)
{
    <h2><a href="/Creator/Details/@creator.CreatorID">@creator.CreatorName</a></h2>
    <div>Bio/Genre:  @creator.CreatorBio</div>
}

