@model IEnumerable<MuseLab7.Models.CreatorDto>
@{
    ViewBag.Title = "List";
}

<h2>Creators</h2>
<a href="/Creator/New">New Creator</a>

<div class="flexContainer">

    @foreach (var creator in Model)
    {
        <div class="listItem">
            <h2><a href="/Creator/Details/@creator.CreatorID">@creator.CreatorName</a></h2>
            <span>
                <p class="boldText">Bio/Genre: </p><p>@creator.CreatorBio</p>
            </span>
        </div>
    }

</div>
