@model IEnumerable<MuseLab7.Models.CoCreatorDto>
@{
    ViewBag.Title = "List";
}

<h2>CoCreators</h2>
<a href="/CoCreator/New">New CoCreator</a>

<div class="flexContainer">
    @foreach (var cocreator in Model)
    {

    <div class="listItem">
        <h2><a href="/CoCreator/Details/@cocreator.CoCreatorID">@cocreator.CoCreatorName</a></h2>
        <span>
            <p class="boldText">Bio/Genre: </p><p>@cocreator.CoCreatorBio</p>
        </span>
    </div>
    }
</div>

